/* stylelint-disable no-descending-specificity */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/green-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Comic Neue', sans-serif;
}

h1 {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 50px;
  font-weight: 900;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
}

.score-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 40%;
}

.table-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.show-scores {
  border: 3px solid rgb(202, 116, 116);
  padding: 10px;
  width: 100%;
  list-style: none;
  font-size: 24px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.score-header button {
  padding: 5px;
  cursor: pointer;
  border: navajowhite;
  width: 80px;
  box-shadow: 3px 3px black;
  transition: all 0.25s ease;
  font-size: 16px;
}

.score-header button:hover {
  scale: 1.2;
  color: red;
  background-color: white;
  border: none;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  padding: 5px;
  box-shadow: 3px 3px black;
  border: none;
  transition: all 0.25s ease;
}

form input:focus {
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to right, rgba(202, 60, 50, 0.522), rgba(83, 158, 60, 0.522));
}

form button {
  padding: 5px;
  width: 80px;
  box-shadow: 3px 3px black;
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.25s ease;
  border: none;
}

form button:hover {
  scale: 1.2;
  color: red;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.user-score-table {
  list-style: none;
  display: flex;
  padding: 5px;
}
